@using OnlineMobileServices_Models.DTOs
@using OnlineMobileServices_Models.Models;

@model IEnumerable<Telco>;
@inject IHttpContextAccessor HttpContextAccessor
@{
    var _token = HttpContextAccessor?.HttpContext?.Session.GetString("Token");
    ViewData["_token"] = _token;
}
@{
    ViewData["Title"] = "List Telco";
}
<header class="header-2">
    <div class="page-header min-vh-75" style="background-image: url('https://i.imgur.com/oQMadpR.png')" loading="lazy">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 text-center mx-auto">
                    <h1 class="text-white pt-3 mt-n5">
                        Recharge Packages
                    </h1>
                    <div class="blockquote">
                        <p class="lead text-white mt-3 px-5">
                            Manage all the recharge packages here. You can add, edit and delete the packages.
                        </p>

                    </div>
                    <div class="buttons">
                        <a type="button" class="btn bg-gradient-primary mt-4" asp-action="index" asp-controller="Dashboard">
                            <i class="fa-solid fa-arrow-left me-2"></i>Back to Dashboard
                        </a>
                        @* create *@
                        <a type="button" class="btn bg-gradient-success mt-4" asp-action="CreateTelco" asp-controller="Dashboard">
                            <i class="fa-solid fa-plus me-2"></i>Create New Telco
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="card card-body mx-3 mx-md-4 mt-n6 mb-1  bg-gray-200 py-3">

    <h3 class="text-primary text-center mt-2 mb-2">
        Recharge Packages
    </h3>
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PackageName</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">@item.TelcoName</h6>
                                    <p class="text-secondary mb-0">@Program.LitmitText(item.Description)</p>
                                </div>
                            </div>
                        </td>



                        <td class="align-middle text-center text-sm">
                            <img src="@item.Logo" class="img-fluid rounded" style="max-width: 50px; max-height: 50px;" />
                        </td>

                        <td class="align-middle text-center text-sm">
                            <a class="btn btn-sm
                                btn-primary" asp-action="EditTelco" asp-controller="Dashboard" asp-route-id="@item.TelcoID">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <button class="btn btn-sm btn-danger" data-id="@item.TelcoID">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
    </div>
    </div>

    </div>

</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            var _token = "@ViewData["_token"]" ?? "";
            console.log("_token", '@ViewData["_token"]');

            $("button").click(function () {
                var id = $(this).data("id");
                console.log("id", id);
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    type: "warning",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    closeOnConfirm: false,
                    closeOnCancel: false
                }).then((result) => {
                    if (result.value) {
                        del(id);
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire({
                            title: "Cancelled",
                            text: "Your data is safe :)",
                            type: "error",
                            icon: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });

            function del(id) {
                console.log("id", id);
                if (_token == "") {
                    Swal.fire({
                        title: "Failed !",
                        text: "Please login to continue.",
                        type: "error",
                        icon: "error",
                        confirmButtonClass: 'btn-success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.value) {
                            //Redirect to payment page
                            window.location.href = '@Url.Action("Logout", "Home")';
                        }
                    });
                    return;
                }
                $.ajax({
                    url: '@Program.API_URL/Dashboard/Telco/' + id + '?token=' + _token,
                    type: "DELETE",
                    dataType: "json",

                    success: function (response) {
                        console.log("response", response);
                        if (response.status == 1) {
                            Swal.fire({
                                title: "Deleted!",
                                text: "Your data has been deleted.",
                                type: "success",
                                icon: "success",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'OK'
                            }).then((result) => {
                                if (result.value) {
                                    //reload page
                                    location.reload();
                                }
                            });
                        } else {
                            Swal.fire({
                                title: "Failed !",
                                text: response.message,
                                type: "error",
                                icon: "error",
                                confirmButtonClass: 'btn-danger',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('button[name="SubmitBtn"]').html('Submit').removeAttr('disabled');

                        var text_error = xhr.status + ' ' + xhr.statusText;
                        var title_error = 'Failed !';
                        var error = JSON.parse(xhr.responseText);
                        if (error.errors) {
                            text_error = '';
                            $.each(error.errors, function (key, value) {
                                text_error += value + '<br>';
                            });
                        }
                        title_error = error.title ? error.title : title_error;
                        text_error = error.message ?? text_error;

                        Swal.fire({
                            title: title_error,
                            html: text_error,
                            type: "error",
                            icon: "error",
                            confirmButtonClass: 'btn-danger',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        });

    </script>
}